:root {
  --clr-text-main: #222222;

  --clr-user-shadow: #333333;
  --clr-user-shadow-hover: #6b6b6b;

  --clr-button-bg-pasive: #ffffff;
  --clr-button-border-pasive: #888888;

  --clr-button-bg-hover: #4261fdff;
  --clr-button-border-hover: #4261fdff;

  --clr-button-bg-active: #ffffff;
  --clr-button-border-active: #888888;

  --clr-input-bg: #ffffff;
  --clr-input-border: #444444;
  --clr-input-active: #4261fdff;
  --clr-input-active-shadow: #4261fdff;

  --clr-divider: #88888860;

  --clr-modal-header: #888888;
  --white: #ffffff;
  --clr-marker: #ffd97d;
}
