@use './src/assets/styles/varibles/breackboints' as *;
@use './src/assets/styles/mixins' as *;

.description {
  display: grid;

  &_item {
    display: flex;
    &_label {
      margin-right: 10px;
      min-width: 90px;

    }
    &_text {
      word-break: break-word;
    }
  }
}
