@use './src/assets/styles/varibles/breackboints' as *;
@use './src/assets/styles/mixins' as *;

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include maxWidth($bp-mTablet) {
    grid-template-columns: 1fr;
  }
}
